#!/usr/bin/make -f

export PYBUILD_NAME=debutizer
export PYBUILD_SYSTEM=distutils

%:
	dh $@ --with python3 --buildsystem=pybuild

override_dh_auto_test:
	# TODO: Run unit tests, skip integration tests
	echo "Skipping tests"
