attrs==21.2.0
backports.entry-points-selectable==1.1.1
black==21.9b0
build==0.7.0
certifi==2021.10.8
cfgv==3.3.1
chardet==4.0.0
charset-normalizer==2.0.9
click==8.0.3
debutizer @ file:///home/velovix/debutizer
distlib==0.3.4
filelock==3.4.0
Flask==2.0.2
identify==2.4.0
idna==3.3
iniconfig==1.1.1
isort==5.10.1
itsdangerous==2.0.1
Jinja2==3.0.3
MarkupSafe==2.0.1
mypy==0.930
mypy-extensions==0.4.3
nodeenv==1.6.0
packaging==21.3
pathspec==0.9.0
pep517==0.12.0
pkg_resources==0.0.0
platformdirs==2.4.0
pluggy==1.0.0
pre-commit==2.16.0
py==1.11.0
pyparsing==3.0.6
pytest==6.2.5
python-debian==0.1.42
pyxdg==0.27
PyYAML==6.0
regex==2021.11.10
requests==2.26.0
six==1.16.0
toml==0.10.2
tomli==1.2.3
types-requests==2.26.2
types-setuptools==57.4.4
typing_extensions==4.0.1
urllib3==1.26.7
virtualenv==20.10.0
Werkzeug==2.0.2
